/* 重置浏览器样式 */
body { background: url("../image/bg.jpg") center top #000; overflow: auto; }
body, input, button, select, textarea, small { font: 13px "微软雅黑","Microsoft Sans Serif"; color:#fff; }
	textarea { resize: none; }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset{ margin: 0; padding: 0; }
input, textarea, select, button { background: url("../image/article_bg.png"); border:#666 1px solid; }
ul, ol{ list-style: none; }
table { empty-cells: show; border-collapse: collapse; }
	caption, th { text-align: left; font-weight: 400; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
em, cite, i { font-style: normal; }
a { color: #efefef; text-decoration: none; }
	a:hover { text-decoration: underline; }
	img { border: none; }
label { cursor: pointer; }
iframe { border: none; }
/* 把HTML5的元素设为块级以兼容IE8 */
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

/*################################公共样式#################################*/
.fl{ float: left; }
.fr{ float: right; }
.clear{ clear: both; }
.cl:after{ content: ' '; display: block; clear: both; visibility: hidden; }
.center{ text-align: center; }
/* 盒子通用样式，圆角边框，半透明背景 */
.box { border: 1px #888 solid; border-radius:8px; background: rgba(0,0,0,0.55); }
.nobr { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

#mainBox { position: absolute; top: 0; width: 100%; height: 100%; overflow: auto; }
#main { width: 850px; margin: 0 auto; }
#main>header>nav { padding: 0 20px; width:  560px; height: 88px; border: 1px solid #656B6B; margin: 0 auto;
	border-radius: 0 0 12px 12px; background-image: url("../image/bananer.png"); }
#main>header>nav a { float: left; }
#main>header>nav span { display: none; }

#main>footer { margin-top: 5px; border-top: 1px #000 dotted; text-align: center; padding: 5px;
	font-family: 华文行楷 ,华文新魏, 楷体; }
#main>footer span, #main>footer small { background: rgba(0, 0, 0, 0.55); }
#main>footer small>a { color: #999; font-size: 14px; font-weight: 300; }

#clock { position: absolute; top: 89px; width: 200px; height: 200px; margin-left: -74px; z-index: 500; color: #000;
	background: url("../image/clock.png") no-repeat; }
#clock>p { position: absolute; width: 30px; font-size: 22px; text-align: center; }
#clock>div { position: absolute; width: 30px; font-size: 30px; text-align: center; left: 85px; top: 80px; }

#body { position: relative; margin-top: 74px; width:850px; z-index:1; overflow: hidden; }
#content { padding: 165px 25px 15px; }

#address { position: absolute; left: 180px; top: 10px; }
#search { position: absolute; left: 560px; top: 139px; }
#ad_top { position: absolute; top: 35px; right: 7px; }
.ad_right>iframe { width: 130px; height: 240px; margin: 0 0 10px 10px; }
.ad_banner>iframe { width: 800px; height: 100px; }

/*############################### 主页样式 ##################################*/
/* 文章列表/相册/留言本使用同样的样式板块 */
.indexbox { position: absolute; left: 35px; }
/* 文章列表（文章列表页样式部分使用） */
#arc_list { top: 174px; width: 570px; line-height: 23px; z-index: 10; padding: 5px 10px; }
#arc_list>header { border-bottom: 1px solid #fff; line-height: 22px; height: 25px; font-size: 16px; }
#arc_list>header>b { display: inline-block; text-align: center; }
#arc_list>header>.title { text-indent: 1.3em; text-align: left; }
#arc_list>header>.timer,#arc_list li>span.fr { width: 140px; }
#arc_list>header>.count, #arc_list li>i.fr { width: 80px; }
#arc_list>ul { list-style: url("../image/m.gif") inside; }
#arc_list li { border-bottom: 1px solid #efefef; padding: 0 5px; }
#arc_list li>span.fr, #arc_list li>i.fr { text-align: center; display: inline-block; }
#arc_list li em { display: inline-block; width: 250px; margin-bottom: -8px; }

/* 微博 */
#mood { width: 573px; position: absolute; right: 40px; top: 35px; }
#mood>.dialog, .mood_dialog { width: 472px; }
#mood>.dialog>p, .mood_dialog>p { padding: 0 15px; border: 1px solid #888; height: 100px; z-index: 5;
	border-radius: 9px 9px 0 0; border-bottom: none; background: rgba(255,255,255,0.21); }

/* 首页相册 */
#album { top: 435px; left: 35px; width: 760px; height: 170px; overflow: hidden;
	-webkit-border-radius:5px; -o-border-radius:5px; padding: 0 10px; }
#album li { width: 200px; height: 150px; overflow: hidden; margin: 10px 10px 10px 0; position: relative;
	border: 1px solid #888; border-radius:5px; }
#album li>p { position: absolute; bottom: 0; height: 0; line-height: 25px; font-size: 15px; text-align: center;
	background: rgba(0,0,0,0.6); width: 100%; }

/* 首页留言本 */
#msgbox { top: 615px; left: auto; right: 35px; height: 300px; width: 400px; padding: 10px; z-index: 50; }
#msgbox article, #msgbox .msgface { width: 100px; height: 100px; }
#msgbox .msgmain { position: absolute; width: 0; height: 100px; margin-top: -100px; overflow: hidden;
	z-index: 100; background: rgba(0,0,0,0.9); }
#msgbox .msgmain>aside { width: 200px; }
#msgbox .msgmain header { height: auto; }

/* 首页友情链接 */
#friendlink { top: 945px; line-height: 25px; width: 760px; padding: 0 10px; }
#friendlink>header { font-weight: bold; font-size: 14px; }
#friendlink>div.fr { width: 685px; height: 25px; overflow: hidden; }
#friendlink li { width: 85px; text-align: center; overflow: hidden; white-space: nowrap; }

/*############################### 文章列表页 ##################################*/
#arc_list.fr { width: 640px; }
#arc_list.fr li em { width: 320px; }
#arc_class { padding: 3px 0; width: 130px; }
#arc_class li { padding-left: 20px; }

/*############################### 文章内容页 ##################################*/
#arc_read { line-height: 25px; }
#arc_read>header { text-align: center; }
#arc_read>header>h1 { font-size: 16px; line-height: 28px; }
#arc_read>header>p { border-bottom: 1px dashed #efefef; }
#arc_read>section { padding: 10px; }
#arc_read>.copyright { font-weight: bold; margin: 10px 2em; line-height: 22px; color: #FF8; }

#comment { border-top: 1px dotted #ddd; }
#comment>h2, #comment h3 { font-size: 16px; margin: 10px 1em; }
#comment>article { border: 1px solid #888888; height: 143px; margin-top: 5px; width: 798px;
	background: rgba(0, 0, 0, 0.55); border-radius: 5px; }
#comment>article>header { border-right: 1px solid #888; width: 120px; }
#comment>article .msg_head { border-bottom: 1px solid #888; height: 100px; padding: 10px; width: 100px; }
#comment h4 { line-height: 20px; }
#comment>article>section { width: 677px; }
#comment section>header { border-bottom: 1px dotted #888; padding: 0 5px; line-height: 23px; }
#comment section>p { padding: 3px 10px; }
#comment .send { height: auto; padding: 5px 10px; width: 778px; margin-top: 20px; }
#comment.list { border-top: none; }

/*############################### 相册页 ##################################*/
#album.list { height: auto; padding: 0 100px; }

#album_view_top { margin: 0 auto; width: 800px; height: 600px; }
#album_left { float: left; width: 600px; text-align: center; }
#album_right { float: right; width: 200px; }
#album_info, #album_photo_info{ width: 550px; margin: 0 auto; }
#album_info { margin: 20px auto; }
#album_pl_bg { overflow: auto; width: 190px; height: 600px; }
.album_pl_li { margin: 15px auto; width: 150px; }

/*############################### 产品页 ##################################*/
#item { padding: 10px 15px; line-height: 23px; }
#item td { border-bottom: 1px solid #FFF; }

/*############################### 简介页 ##################################*/
#intro .center { margin: 30px 0; clear: right; }

/*############################### 微博页 ##################################*/
#moodlist>article { border-bottom: 1px dashed #888; height: 200px; margin: 20px auto; padding: 10px; width: 600px; }
#moodlist small { margin-top: 45px; }
#moodlist aside { margin-top: -50px; }