/* 重置浏览器样式 */
body, input, button, select, textarea, small { font: 13px "微软雅黑","Microsoft Sans Serif"; color:#fff; }
	textarea { resize: none; }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset{ margin: 0; padding: 0; }
input, textarea, select, button { background: url("../image/article_bg.png"); border:#666 1px solid; }
ul, ol{ list-style: none; }
table { empty-cells: show; border-collapse: collapse; }
	caption, th { text-align: left; font-weight: 400; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
em, cite, i { font-style: normal; }
a { color: #efefef; text-decoration: none; }
	a:hover { text-decoration: underline; }
	img { border: none; }
label { cursor: pointer; }
iframe { border: none; }
/* 把HTML5的元素设为块级以兼容IE8 */
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

/*################################公共样式#################################*/
.fl{ float: left; }
.fr{ float: right; }
.clear{ clear: both; }
.cl:after{ content: ' '; display: block; clear: both; visibility: hidden; }
.center{ text-align: center; }
.nobr { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.hideinput { display: none; }

@media screen and (min-width: 481px){/* 当屏幕宽大于480（非手机）的时候才生效 */
	body { background: url("../image/bg.jpg") no-repeat center top #000 fixed; }
	/* 盒子通用样式，圆角边框，半透明背景 */
	.box { border: 1px #888 solid; border-radius:8px; background: rgba(0,0,0,0.55); }
}


/*############################### 主页样式 ##################################*/
/* 文章列表（文章列表页样式部分使用） */
#arc_list { line-height: 23px; }
#arc_list>table { width: 100% }
#arc_list thead { line-height: 22px; height: 25px; font-size: 16px; }
#arc_list tr { border-bottom: 1px solid #fff; }
#arc_list tbody td:first-child { padding-left: 5px; }
#arc_list th { font-weight: bold; }
#arc_list th.title { text-indent: 1.3em; }
#arc_list td, #arc_list th { text-align: center; }
#arc_list td:first-child, #arc_list th:first-child { text-align: left; }
#arc_list td em { display: inline-block; margin-bottom: -8px; }
#arc_list img { vertical-align: middle; margin-right: 3px; }

/* 首页相册 */
#album { height: 170px; overflow: hidden; padding: 0 10px; }
#album li { width: 200px; height: 150px; overflow: hidden; margin: 10px 10px 10px 0; position: relative;
	border: 1px solid #888; border-radius:5px; }
#album li>p { position: absolute; bottom: 0; height: 0; line-height: 25px; font-size: 15px; text-align: center;
	background: rgba(0,0,0,0.6); width: 100%; }

/* 友情链接 */
#friendlink.indexbox { padding: 0 10px; }
#friendlink>header { font-weight: bold; font-size: 14px; }

#friendlink { padding: 5px 10px; }
#friendlink>div { padding: 0 5px; }
#friendlink li { text-align: center; overflow: hidden; white-space: nowrap; padding: 0 5px; margin: 3px 0; }


/*############################### 文章内容页 ##################################*/
#arc_read { line-height: 25px; }
#arc_read>header { text-align: center; }
#arc_read>header>h1 { font-size: 16px; line-height: 28px; }
#arc_read>header>p { border-bottom: 1px dashed #efefef; }
#arc_read>section { padding: 10px; }
#arc_read>.copyright { font-weight: bold; margin: 10px 2em; line-height: 22px; color: #FF8; }
#arc_read>.content>p { text-indent: 2em; }

#comment { border-top: 1px dotted #ddd; }
#comment>h2, #comment h3 { font-size: 16px; margin: 10px 1em; }
#comment>article { height: 143px; margin-top: 5px; width: 798px; }
#comment>article>header { border-right: 1px solid #888; width: 120px; }
#comment>article .msg_head { border-bottom: 1px solid #888; height: 100px; padding: 10px; width: 100px; }
#comment h4 { line-height: 20px; }
#comment>article>section { width: 677px; }
#comment section>header { border-bottom: 1px dotted #888; padding: 0 5px; line-height: 23px; }
#comment section>p { padding: 3px 10px; }
#comment .send { height: auto; padding: 5px 10px; width: 778px; margin-top: 20px; }
#comment.list { border-top: none; }