/* 重置浏览器样式 */
body { background: url("../image/bg.jpg") center top #000; overflow: auto; }
body, input, button, select, textarea, small { font: 13px "微软雅黑","Microsoft Sans Serif"; color:#fff; }
	textarea { resize: none; }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset{ margin: 0; padding: 0; }
input, textarea, select, button { background: url("../image/article_bg.png"); border:#666 1px solid; }
ul, ol{ list-style: none; }
table { empty-cells: show; border-collapse: collapse; }
	caption, th { text-align: left; font-weight: 400; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
em, cite, i { font-style: normal; }
a { color: #efefef; text-decoration: none; }
	a:hover { text-decoration: underline; }
	img { border: none; }
label { cursor: pointer; }
iframe { border: none; }
/* 把HTML5的元素设为块级以兼容IE8 */
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

/*################################公共样式#################################*/
.fl{ float: left; }
.fr{ float: right; }
.clear{ clear: both; }
.cl:after{ content: ' '; display: block; clear: both; visibility: hidden; }
.center{ text-align: center; }
/* 盒子通用样式，圆角边框，半透明背景 */
.box { border: 1px #888 solid; border-radius:8px; background: rgba(0,0,0,0.55); }
.nobr { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }