/*
 * Created on : 2015-1-3, 16:31:49
 * Author     : hao
 * 平板、手机公用样式（小于800像素）
 */

#main #pagetitle { display: block; position: fixed; top: 0; width: 100%; background-color: #000; height: 28px; line-height: 30px; border-bottom: 1px solid #666; }
#main #pagetitle h1 { width: 30%; margin: 0 auto; text-align: center; }
#main #pagetitle button { float: right; margin-right: 5px; }
#main nav { display: none; width: 100%; height: 100%; position: fixed; top: 0; }
#main nav>ul { position: absolute; right: 0; width: 0; height: 100%; background: #111; overflow: hidden; }
#main nav li { border-bottom: 1px #999 solid; width: 200px; }
#main nav span { display: block; }
#main nav img { display: none; }

/* 时钟在800像素以下隐藏 */
#clock { display: none; }