/*
    Created on : 2015-1-3, 16:31:49
    Author     : hao
*/

#main>header>#pagetitle { display: block; position: fixed; top: 0; width: 100%; background-color: #000; height: 2.5em; line-height: 2.5em; border-bottom: 1px solid #666; }
#main>header>#pagetitle h1 { width: 30%; margin: 0 auto; text-align: center; }
#main>header>#pagetitle button { float: right; margin-right: 5px; }
#main>header>nav span { display: block; }
#main>header>nav img { display: none; }