/*
    Document   : admin.css
    Created on : 2013-12-8, 18:03:01
    Author     : hao
    Description:
        Purpose of the stylesheet follows.
*/

html, body { font-size: 13px; height: 100%; }
body { background-color: #eee;; }
ul, ol { list-style: none; }

#main { min-height: 100%; }

header, footer { position: absolute; z-index: 999; width: 100%; }
header { height: 56px; padding-top: 8px; line-height: 40px; font-size: 22px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#E2F4FE));
	background: -webkit-linear-gradient(top, #fff, #E2F4FE);
	background: -moz-linear-gradient(top, #fff, #E2F4FE);
	background: -ms-linear-gradient(top, #fff, #E2F4FE);
	background: -o-linear-gradient(top, #fff, #E2F4FE);
	background: linear-gradient(top, #fff, #E2F4FE);
}
header > h1 { font-size: 18px; line-height: 30px; float: left; color: #666; margin: 0 0 0 15px; }
header > .headernav { float: right; margin-right: 10px; font-size: 14px; }
header > .headernav li { float: left; margin-right: 10px; }
header a { color: #2a6496; }
td, th { background: #f5f5ee; }
meter { width: 100%; border: 1px none; }
meter, .meter-progress { width: 100%; height: 15px; border-radius: 15px; }
.alertBg { position: absolute; z-index: 9999; background-color: #000; opacity: 0.6; width: 100%; height: 100%; top: 0; left: 0; display: none; text-align: center; line-height: 100%; }

nav { float: left; width: 200px; font-size: 15px; padding-bottom:10050px;margin-bottom:-10000px; background-color: #F6F6F6; border-right: 1px solid #c4c8cb; }
nav > ul { padding: 0; }


.menu-first { background: -moz-linear-gradient(center top , #f9f9f9, #f2f2f2) repeat scroll 0 0 rgba(0, 0, 0, 0);
			height:45px; line-height:42px; border-top: 1px solid #fff; border-bottom: 1px solid #ddd;
			padding: 0; font-size: 14px; font-weight: normal; text-align: center; padding-right: 8px;
}
.menu-first:hover{ text-decoration: none; background-color: #d6d4d5; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #acacac; }
/* 下拉菜单的上下箭头。
 * 当下拉菜单未展开时，a标签的class为collapsed，隐藏上箭头
 * 当下拉菜单展开后，collapsed消失，隐藏下箭头 */
.menu-first.collapsed .up { display: none; }
.menu-first.collapsed .down { display: inline; }
.menu-first .down { display: none; }

.menu-second li a{ background-color: #f6f6f6; height:31px; line-height:31px; border-top: 1px solid #efefef;
		border-bottom: 1px solid #efefef; font-size: 12px; text-align:center; }
.menu-second li a:hover { text-decoration: none; background-color: #66c3ec; border-top: 1px solid #83ceed;
		border-bottom: 1px solid #83ceed; border-right: 3px solid #f8881c; border-left: 3px solid #66c3ec; }
.menu-second-selected { background-color: #66c3ec; height:31px; line-height:31px; text-align:center;
		border-top: 1px solid #83ceed; border-bottom: 1px solid #83ceed; border-right: 3px solid #f8881c;
		border-left: 3px solid #66c3ec; }
.nav-list,.nav-list li a{ padding: 0px; margin: 0px; }

#tip { padding: 20px 0 0; width: 500px; margin-top: 40px; }


div#main { min-height: 100%; padding-top: 55px; overflow: hidden }
div#body { margin-right: -200px; padding: 20px; float: right; width: 100%; padding-right: 220px; }

footer { height: 25px; margin-top: -25px; line-height: 25px; clear: both; background-color: #c2c9d0; }

/* 表单相关公用样式 */
.form-signin { max-width: 330px; margin: 0 auto; }
.table-form { width: 100%; }
.table-form th { width: 200px; }